<%% content_for :content_header  do %>
  <section class="content-header">
    <h1>
      Editing <small><%%= link_to :<%=singular_table_name %>,  @<%= singular_table_name %> %></small>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%%= link_to "<%= plural_table_name.capitalize %>", <%= plural_table_name %>_path %></li>
        <li class="active">Edit</li>
      </ol>
    </h1>
  </section>
<%% end %>

<%%= render 'form' %>
