<%% content_for :content_header  do %>
  <section class="content-header">
    <h1><%= class_name %> <small>#<%= @action %></small></h1>
  </section>
<%% end %>

<section class="content invoice">
  <p>Find me in <%= @path %></p>
</section>